@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom gradient background animation */
@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Apply gradient animation to the entire page */
html, body, #root {
  height: 100%;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(-45deg, #ff9a9e, #fad0c4, #a18cd1, #fbc2eb);
  background-size: 400% 400%;
  animation: gradientMove 12s ease infinite;
}
